asgiref==3.8.1
brotli==1.2.0
dj-database-url==3.1.2
Django==5.2.2
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.12.0
